fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
yfinance
pandas
numpy
scikit-learn
joblib
APScheduler
boto3
newsapi-python
python-multipart
aiofiles
psycopg2-binary
jinja2
